body,
html {
  height: 100%;
}

.left-side {
  background-image: url("Bidding-Portal-Web 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
}

.right-side {
  padding: 2rem;
  height: 90vh;
}

.online {
  font-style: italic;
}

.btn-login {
  background-color:  #09BDAB;
  height: 48px;
  color: white;
}

.btn-login:hover {
  background-color:  #10ecd6;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: transparent;
  z-index: 20;
}

.form-control:focus {
  outline: none;
}

.btn-checkbox {
  accent-color: #09BDAB;
}











